<hr>
<footer>
    <small><a href="/rss" target="_blank">RSS feed</a> - support me with <a href="https://brave.com/kle624" target="_blank">Brave</a> - <%= new Date().getFullYear() %> - Made with <a
                href="https://github.com/klemek/gitblog.md">GitBlog.md</a> (v<%= info.version %>)
    </small>
</footer>
